#buy-button-state-synchronizer-modal .modal-footer {
    border-top: 0;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;

    > button {
        flex: 1 auto;
        margin: 0;
    }
}

#buy-button-state-synchronizer-modal-cancel-btn {
    flex: 1 auto;
    display: flex;
    justify-content: flex-end;
}