#buy-button-state-synchronizer-modal {
  border: 0;
  padding: 1.75rem;
  box-shadow: 43px 43px -6px rgba(0, 0, 0, 0.2);
  .modal-footer {
    border-top: 0;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;

    > button {
      flex: 1 auto;
      margin: 0;
    }
  }
}

#buy-button-state-synchronizer-modal-cancel-btn {
  flex: 1 auto;
  display: flex;
  justify-content: flex-end;
}
